
#card{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    /* width: 60vw;
    height:30vh; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    /* grid-template-areas: 'title title title title '
                         'image image image image '
                         'image image image image '
                         'image image image image '
                         'image image image image '
                        'list list inside inside' ; */
}
#model
{
    color: #010400;
    /* grid-column: 1 / 3;
    grid-row: 1/2; */
}
#details{
   background-color: #00dede;
   margin-right: 1vw;
   /* grid-column: 1;
   grid-row: 40/ 50; */
}
#inside{
    /* grid-column:1/3;
    grid-row: 30/50; */
    display: flex;
align-items:center;
}
#cars_list
{
    width: 100%;
    display: grid;
    justify-content: center;
    /*
    grid-template-columns: auto auto auto auto;
    row-gap: 5vw;
    column-gap: 3vw; */
    
}
#down{
    display: flex;
    justify-content:flex-start;
}
#image{
    /* grid-column: 1/ 3;
    grid-row: 2/ 30; */
    /* margin-left: 2vw; */

}
#list{
    display: flex;
    justify-content:flex-start;
}
#up{
    display: flex;
    justify-content: space-between;
}

#companies{
    display: flex;
    width: 100%;
}
.company{
    width: 7vw;
    height: 7vw;
    margin-left: 1vw;
}

.company :hover{
    opacity: 0.5;
}
#company:hover .company{
    opacity: 0.5;
}
#company:hover #name{
    color: #EC058E;
    font-size: 2vw;
}
#name{
    text-align: center;
    font-size: 1vw;
}
#citycar{
    display: grid;
    justify-content: center;
    width: 100%;
;
}